@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

* {
 margin: 0;
 padding: 0;
}

html, body {
   height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #303030;
}

main {
  min-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

main .center-them {
  display: flex-item;
  text-align: center;
  width: auto;
  margin: 1rem;
}

main .big-name {
  margin-bottom: 1rem;
}

main .big-name h1 {
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.5rem;
}

main .place {
  margin: 1rem auto;
  margin-bottom: 2rem;
}

main .links {
  max-width: 30rem;
  line-height: 3rem;
}

main .links a {
  margin: 1rem;
  display: block;
  border: 1px solid #0071e3;
  border-radius: 10px;

  user-select:none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select:none;
}

main .links a:hover {
  background: #0071e3;
  color: #fff;
}

footer {
  height: 2.5rem;
  line-height: 1.25rem;
  text-align: center;
}

a {
  color: #0071e3;
  text-decoration: inherit;
}

::selection {
  background: #ffc;
  color: #303030;
}

::-moz-selection {
  background: #ffc;
  color: #303030;
}

.selectable {
  user-select:text !important;
  -moz-user-select: text !important;
  -webkit-user-select: text !important;
  -ms-user-select:text !important;
  -o-user-select:text !important;
}

