.tty {
  font-family: "Melo", "Fira Mono", monospace;
  font-size: .86rem;

  /* background color is set in window class to fill the gap causes by
   * height of content being smaller than that of window. */
}

.tty .output {
  outline: none;
  display: inline;
  line-break: anywhere;
}

.tty .input {
  outline: none;
  display: inline;
  line-break: anywhere;
}

